@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@font-face {
	font-family: "Droid Serif";
	src: url(DroidSerif.ttf)
}

* {
	font-family: Lato;
	color: #444;
}

h1, h2 {
	font-family: "Droid Serif";
	color: #333;
}

.nav a {
	font-family: Lato;
	text-decoration: none;
	color: inherit;
	color: #444;
}

.nav a:hover {
	color: #232;
}

/* 
p {
	font-family: Lato;
	color: #444;
} */

/* div p {
	color: purple;
} */

/* p.error {
	color: crimson;
}
p.success {
	color: lightseagreen;
}

p.success.feedback {
	border: 1px dashed seagreen;
} */
